@font-face {
    font-family: 'DigitalFont';
    src: url(font/Digital7.ttf);
}

/* UNIVERSAL SELECTORS  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccffcc;
    padding: 1rem 8rem;
}

.nav-left {
    display: flex;
    gap: 1.8rem;
    font-size: 1.9rem;
    cursor: pointer;
}

span {
    color: crimson;
}

.logo-text {
    color: #23a056;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo-text:hover {
    color: #5ce65c;
}

.nav-left a {
    transition: 0.3s ease-in-out;
    color: #23a056;
}

a:hover {
    transform: scale(0.90);
    color: #5ce65c;
}

.header-divider-line {
    display: abs;
    height: 1px;
    width: 100%;
    background-color: black;
}

.rectangle-nackground-card {
    position: absolute;
    top: 79px;
    left: 50px;
    height: 580px;
    width: 1435px;
    border-radius: 30px;
    background-color: #ccffcc;
}

/* STARTING OF SECTION */
section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5rem;
    gap: 5rem;
    padding-inline: 7rem;
}

/* STARTING OF SECTION'S LEFT CARD  */
.left-card {
    width: 100%;
    max-width: auto;
    display: flex;
    flex-direction: column;
    line-height: 1.4rem;
    gap: 0.8rem;
    font-family: 'Times New Roman', Times, serif;
}

.left-card>div>h2 {
    margin: 0.5rem 0rem;
}

.part-one>.part-one-features {
    padding-left: 4rem;
}

.part-three-developer-detail {
    text-align: center;
    font-size: 1.1rem;
}

.dev-links {
    color: crimson;
    transition: 0.2s ease-in-out;
}

/* STARTING OF VERTICAL LINE BETWEEN SECTIONS CARD  */
.vertical-line {
    position: relative;
    background-color: #23a056;
    height: 25rem;
    width: 4px;
}

/* STARING OF SECTION'S RIGHT CARD  */
.card {
    margin-block: 4%;
    background-color: rgba(255, 246, 246, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 20px rgba(255, 246, 246, 0.2);
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

input {
    padding: 0px 5px;
    font-size: 1.8rem;
    text-align: right;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'DigitalFont';
    height: 60px;
    width: 22.18rem;
    border: 2px solid green;
    border-radius: 5px;
}

.errorDiv {
    position: absolute;
    top: 115px;
    right: 24px;
    /* margin: 20px 50px; */
    height: 0px;
    width: auto;
}

.calculatorText {
    margin-bottom: 10px;
    font-weight: bolder;
}

.buttons-collection {
    margin-top: 30px;
}

button {
    height: 60px;
    width: 80px;
    text-align: center;
    border: 0.5px solid green;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    margin: 3px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #5ce65c;
}

.wide-buttons {
    width: 170px;
}

.fa-1,
.fa-2,
.fa-3,
.fa-4,
.fa-5,
.fa-6,
.fa-7,
.fa-8,
.fa-9 {
    font-family: 'DigitalFont', sans-serif;
    font-size: 1.8rem;
}

/* STARTING OF fa-fa ICONS  */
.fa-handshake {
    cursor: grab;
    color: #23a056;
}

.fa-lightbulb {
    cursor: grab;
    background-color: yellow;
}

.fa-code {
    cursor: grab;
    color: crimson;
}

.fa-heart {
    color: red;
}

@media screen and (max-width: 600px) {
    body {
        background-color: #ccffcc;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1em 1.3em;
    }

    .rectangle-nackground-card {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 1em;
    }

    /* STARTING OF LEFT CARD  */
    .part-three-developer-detail {
        display: none;
    }

    /* STARTING OF VERTICAL LINE BETWEEN SECTIONS CARD  */
    .vertical-line {
        display: none;
    }

    /* STARING OF SECTION'S RIGHT CARD  */
    input {
        width: 20rem;
    }

    button {
        width: 4.4rem;
    }

    .wide-buttons {
        width: 9.4rem;
    }


}